.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    position: relative;
}

.tips {
    position: absolute;
    bottom: 50px;
    left: 40px;
    color:
}
